<p>yeelight-bulb-card works!</p>


<!--<div class="custom-control custom-switch">-->
<!--  <input type="checkbox" class="custom-control-input" id="{{bulb.capabilities.id}}Toggle">-->
<!--  <label class="custom-control-label" for="{{bulb.capabilities.id}}Toggle">Toggle this switch element</label>-->
<!--  <input type="color" name="{{bulb.capabilities.id}}" (change)="setColor()">-->
<!--  <div>-->
<!--    <label for="{{bulb.capabilities.id}}Brightness">Example range</label>-->
<!--    <input type="range" class="custom-range" id="{{bulb.capabilities.id}}Brightness">-->
<!--  </div>-->
<!--</div>-->
