<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!--<header>-->
<!--  <div class="collapse bg-dark" id="navbarHeader">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-sm-8 px-5 my-4">-->
<!--          <h4 class="text-white">About</h4>-->
<!--          <p class="text-muted"></p>-->
<!--        </div>-->
<!--        <div class="col-sm-4  px-4 my-4">-->
<!--          <h4 class="text-white">Contact</h4>-->
<!--          <ul class="list-unstyled">-->
<!--            <li><a href="#" class="text-white">Follow on Twitter</a></li>-->
<!--            <li><a href="#" class="text-white">Like on Facebook</a></li>-->
<!--            <li><a href="#" class="text-white">Email me</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="navbar navbar-dark bg-dark shadow-sm">-->
<!--    <div class="container d-flex justify-content-between">-->
<!--      <a href="/" class="navbar-brand">-->
<!--        <h1>-->
<!--          <i class="fas fa-server m-1 "></i>PrintServer-->
<!--        </h1>-->
<!--      </a>-->
<!--      <a href="" class="navbar-item text"></a>-->
<!--      <a href="" class="navbar-item"></a>-->
<!--      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarHeader"-->
<!--              aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->
