<main>
  <div class="column d-flex justify-content-center">
    <div class="row col-8">
      <form class="frame my-3 upload-form">
        <fieldset class="upload-form__content">
          <div class="upload-form__drop-spot">
            <p class="upload-form__file-name" id="file-name"></p>
            <i class="fa fa-cloud-upload upload-form__cloud-ico"></i>
            <input id="upload-input" type="file" name="file" #fileUpload
                   class="upload-form__file-input upload-input" multiple/>
          </div>
          <div class="upload-form__utils upload-utils">
            <button id="uploadFileButton" type="button" (click)="uploadFiles(fileUpload.files)"
                    class="upload-utils__btn btn btn-primary p-2" name="Upload">Upload<i
              class="fas fa-file-upload"></i>
            </button>
            <button type="button" class="btn btn-dark upload-utils__btn upload-utils__print-all p-2">Print All <i
              class="fa fa-print"></i>
            </button>
          </div>
        </fieldset>
      </form>
      <div class="col-12">
      </div>
    </div>
  </div>
</main>

