.page-footer {
  background-color: rgb(38, 50, 56);
}

.footer-copyright {
  background-color: rgb(30, 40, 45);
  color: rgb(142, 134, 123);
}

.footer-copyright a {
  color: rgb(255, 255, 255);
}

.btn-social {
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 5px 2px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 26px -8px #000;
}

.btn-social:hover {
  text-decoration: none;
  color: white;
}

.btn-social:hover {
  opacity: 0.7;
  text-transform: none;
}

.btn-facebook {
  background-color: #3B5998;

}

.btn-google {
  background-color: #dd4b39;
}

.btn-linkedin {
  background-color: #007bb5;
}

.btn-github {
  background-color: rgb(43, 43, 43);
}
